<template>
    <div>
           <h1 v-for="mountian in getMountains" :key="mountian.id">{{mountian.continent}}</h1>
            <h1>{{getMountainByid(74)}}</h1>
            <div>
                <h3 v-for="(title,index ) in getAllTitle" :key="index">{{title}}</h3>
            </div>
    </div>
</template>
<script lang="ts">
import {mapActions,mapGetters} from 'vuex'
    export default{
            computed:{
            ...mapGetters([
                'getMountains',
                'getMountainByid',
                'getAllTitle'
            ])
        },
    }
</script>