<template>
    <div>
        <h1>User {{this.$route.params.id}}</h1>
    </div>
</template>
<script>
    export default{
        asyncData({params}){
            console.log(params.id)
        }
    }
</script>
