<template>
    <div>
      <button @click="setMountains">CLick</button>
      <button @click="getById">C</button>
    <input type="text" v-model="title"/>
    <button @click="addTitle(title)">Submit</button>
    <button @click="post">Post</button>
    <Loading></Loading>
   <ListData></ListData>
    </div>
</template>
<script>
import {mapActions,mapGetters} from 'vuex'
import Loading from '~/components/LoadingBar.vue'
    export default{
  components: { Loading },
        data(){
            return{
            title:'',
            isLoading:false,
            }
           
        },
        methods:{
           ...mapActions({
               addTitle:'addTitle',
               setMountains:'setMountains',
               post:'post',
           }),
           getById(){
               this.$store.dispatch('getById',5)
           }
        },
        
    mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => this.$nuxt.$loading.finish(), 2000)
    })
  }
        
    }
</script>